.top-page-header{
  background-color: black;
  width: 100%;
  height: 100px;
}


.lists-right{
  display: flex;
  text-align: center;
  line-height: 70px;
}

ul{
  vertical-align: middle;
}
li{
  list-style:none
}

li+ li{
  margin-left: 24px;
}

h1{
  color: white;
}

a{
  color: white;
}

.container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  vertical-align: center

}